<ion-content (click)="spellingInput?.focus()">
	<ion-toolbar (click)="$event.stopPropagation()">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-button routerDirection="root" routerLink="/dashboard">
				<ion-icon slot="icon-only" name="home-outline"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-buttons
			class="spelling-counter"
			slot="end"
			[class.red]="spellingCounter < 0"
			[class.green]="spellingCounter > 2"
			[class.yellow]="spellingCounter > 0 && spellingCounter <= 2"
		>
			@if (spellingCounter < 0) {
				<ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
			} @else if (spellingCounter == 0) {
				<ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
			} @else if (spellingCounter > 2) {
				<ion-icon slot="icon-only" name="checkmark-done-circle-outline"></ion-icon>
			} @else {
				<ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
			}
			<span>{{ spellingCounter < 0 ? spellingCounter * -1 : spellingCounter }}</span>
		</ion-buttons>
	</ion-toolbar>

	<div class="player-container">
		<div class="player">
			<ion-icon (click)="audio.play()" [name]="isPlaying ? 'pause-circle-outline' : 'play-circle-outline'"></ion-icon>
		</div>

		<app-spelling-input
			[(ngModel)]="spelledWord"
			[expected]="expected()"
			[validate]="validate"
			(confirm)="validateWord()"
		></app-spelling-input>
	</div>

	<div class="meaning">
		<ion-text>
			<strong>Part of speech:</strong> {{ partOfSpeech }}
		</ion-text>

		@if (definition) {
			<ion-text>
				<strong>Definition:</strong> {{ definition }}
			</ion-text>
		} @else {
			<ion-text>
				<strong>No definition available.</strong>
			</ion-text>
		}

		@if (example) {
			<ion-text>
				<strong>Example phrase:</strong> {{ example }}
			</ion-text>
		} @else {
			<ion-text>
				<strong>No example phrase available.</strong>
			</ion-text>
		}

		@if (context.length) {
			<ion-text>
				<strong>Context:</strong> {{ context.join(", ") }}
			</ion-text>
		} @else {
			<ion-text>
				<strong>No context available.</strong>
			</ion-text>
		}
	</div>
</ion-content>
