@use "sass:color";

ion-text {
	display: block;
	font-size: 24px;
	margin-bottom: 18px;
	letter-spacing: 2px;

	strong {
		color: color.adjust(#FFC409, $lightness: 10%);
	}
}

.spelling-counter {
	font-family: "Chalk", cursive, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

	&.red {
		color: color.adjust(#C5000F, $lightness: 17%);
	}

	&.green {
		color: color.adjust(#28A745, $lightness: 17%);
	}

	&.yellow {
		color: color.adjust(#FFC409, $lightness: 10%);
	}

	&> ion-icon {
		margin-right: 8px;
	}

	&> span {
		font-size: 22px;
		font-weight: bold;
	}
}

swiper-slide {
	padding: 8px;
}

.meaning {
	margin: 0;
}

.extras {
	margin: 8px;
	margin-top: 0 !important;
}

.player-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 16px;

	.player {
		width: 100px;
	}

	ion-icon {
		font-size: 100px;
		margin-top: 8px;
		margin-bottom: 8px;
	}
}

.ignore-container {
	text-align: center;
}

@media (min-width: 768px) {
	.meaning {
		margin: 8px;
	}

	.extras {
		margin: 16px;
	}

	.player-container {
		flex-direction: row;

		.player {
			margin-right: 24px;
		}
	}
}

@media (min-width: 1200px) {
	.meaning {
		margin: 24px;
	}

	.extras {
		margin: 32px;
	}
}
