<ion-content (click)="spellingInput?.focus()">
	<ion-toolbar (click)="$event.stopPropagation()">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-button routerDirection="root" routerLink="/dashboard">
				<ion-icon slot="icon-only" name="home-outline"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-buttons
			class="spelling-counter"
			slot="end"
			[class.red]="spellingCounter < 0"
			[class.green]="spellingCounter > 3"
			[class.yellow]="spellingCounter > 0 && spellingCounter <= 3"
		>
			@if (spellingCounter < 0) {
				<ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
			} @else if (spellingCounter == 0) {
				<ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
			} @else if (spellingCounter > 3) {
				<ion-icon slot="icon-only" name="checkmark-done-circle-outline"></ion-icon>
			} @else {
				<ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
			}
			<span>{{ spellingCounter < 0 ? spellingCounter * -1 : spellingCounter }}</span>
		</ion-buttons>
	</ion-toolbar>

	<div class="player-container">
		<div class="player">
			<ion-icon (click)="isPlaying ? pause() : play()" [name]="isPlaying ? 'pause-circle-outline' : 'play-circle-outline'"></ion-icon>
		</div>

		<app-spelling-input
			[(ngModel)]="spelledWord"
			[expected]="expected()"
			[validate]="validate"
			(toggleAudio)="isPlaying ? pause() : play()"
			(confirm)="validateWord()"
			(nextMeaning)="nextMeaning()"
			(previousMeaning)="previousMeaning()"
		></app-spelling-input>
	</div>

	<swiper-container
		#swiper
		class="meaning"
		[modules]="swiperModules"
		[pagination]="{ clickable: true }"
		(swiperslidechange)="spellingInput?.focus()"
	>
		@for (m of meanings; track $index) {
			<swiper-slide>
				<ion-text>
					<strong>Part of speech:</strong> {{ m.partOfSpeech }}
				</ion-text>

				@if (m.definition) {
					<ion-text>
						<strong>Definition:</strong> {{ m.definition }}
					</ion-text>
				} @else {
					<ion-text>
						<strong>No definition available.</strong>
					</ion-text>
				}

				@if (m.example) {
					<ion-text>
						<strong>Example phrase:</strong> {{ m.example }}
					</ion-text>
				} @else {
					<ion-text>
						<strong>No example phrase available.</strong>
					</ion-text>
				}

				@if (m.context) {
					<ion-text>
						<strong>Context:</strong> {{ m.context }}
					</ion-text>
				} @else {
					<ion-text>
						<strong>No context available.</strong>
					</ion-text>
				}
				<br>
			</swiper-slide>
		}
	</swiper-container>

	<div class="extras">
		@if (antonyms) {
			<ion-text>
				<strong>Antonyms:</strong> {{ antonyms }}
			</ion-text>
		} @else {
			<ion-text>
				<strong>No antonyms available.</strong>
			</ion-text>
		}
		@if (synonyms) {
			<ion-text>
				<strong>Synonyms:</strong> {{ synonyms }}
			</ion-text>
		} @else {
			<ion-text>
				<strong>No synonyms available.</strong>
			</ion-text>
		}
	</div>
</ion-content>
