<div id="keyboard-container">

	@if (!hidden) {
		<div class="keyboard-row">
			<ion-button color="dark" (click)="keyboardService.input('Q')">Q</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('W')">W</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('E')">E</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('R')">R</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('T')">T</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('Y')">Y</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('U')">U</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('I')">I</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('O')">O</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('P')">P</ion-button>
		</div>
		<div class="keyboard-row">
			<ion-button color="dark" (click)="keyboardService.input('\'')">'</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('A')">A</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('S')">S</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('D')">D</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('F')">F</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('G')">G</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('H')">H</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('J')">J</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('K')">K</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('L')">L</ion-button>
		</div>
		<div class="keyboard-row">
			<ion-button color="dark" (click)="keyboardService.input('-')">-</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('Z')">Z</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('X')">X</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('C')">C</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('V')">V</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('B')">B</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('N')">N</ion-button>
			<ion-button color="dark" (click)="keyboardService.input('M')">M</ion-button>
			<ion-button color="dark" (click)="keyboardService.backspace()" id="backspace">⌫</ion-button>
		</div>
		<div class="keyboard-row">
			<ion-button color="dark" (click)="keyboardService.input(' ')" id="space">
				{{ isTraining ? "Say Word" : "Space" }}
			</ion-button>

			<ion-button color="dark" (click)="keyboardService.enter()" id="enter">
				{{ isTraining && wordConfirmed ? "Next" : "Enter" }}
			</ion-button>
		</div>
	}

	<ion-button color="light" fill="clear" id="toggle" (click)="hidden = !hidden">
		@if (!hidden) {
			<ion-icon name="chevron-down-outline"></ion-icon>
		} @else {
			<ion-icon name="chevron-up-outline"></ion-icon>
		}
	</ion-button>
</div>
