<ion-content (click)="focus()">
	<div class="header">
		<ion-text class="title">Welcome to the Spelling Trainer!</ion-text>
		@if (signUp) {
			<ion-text class="subtitle">Enter your name to create your profile.</ion-text>
		} @else {
			<ion-text class="subtitle">Choose a profile to log-in or create a new one.</ion-text>
		}
	</div>

	<div class="buttons-list">
		@if (signUp) {
			<app-spelling-input [(ngModel)]="name" [freeText]="true" (confirm)="createProfile()"></app-spelling-input>
			<br>

			<ion-button color="medium" expand="block" size="large" (click)="signUp = false">
				<ion-icon slot="start" name="close-outline"></ion-icon>
				<ion-label>Cancel</ion-label>
			</ion-button>
			<ion-button color="light" expand="block" size="large" (click)="createProfile()" [disabled]="!name">
				<ion-icon slot="start" name="checkmark-outline"></ion-icon>
				<ion-label>Confirm</ion-label>
			</ion-button>
		} @else {
			@for (user of users; track $index) {
				<ion-button color="light" expand="block" size="large" (click)="login(user)">
					<div class="space-between">
						<span>{{ user.name }}</span>
						<div class="progress">
							<ion-note color="dark">
								{{ progress[user.uuid]?.value }}<br>
								<small>{{ progress[user.uuid]?.percentage || 0 }}%</small>
							</ion-note>
							<round-progress
								slot="end"
								[current]="progress[user.uuid]?.value || 0"
								[max]="dictionaryService.words.size"
								[radius]="35"
								[stroke]="9"
								color="#0054E9"
								background="#ddd"
							/>
						</div>
					</div>
				</ion-button>
			}

			@if (users.length) { <br/> }

			<input type="file" id="file-input" (change)="loadProfile($event)" accept=".json"/>
			<ion-button color="light" expand="block" size="large" (click)="openFile()">
				<ion-icon slot="start" name="folder-open-outline"></ion-icon>
				<ion-label>Import Profile Progress</ion-label>
			</ion-button>

			<ion-button color="light" expand="block" size="large" (click)="enterSignUp()">
				<ion-icon slot="start" name="person-add-outline"></ion-icon>
				<ion-label>Create New Profile</ion-label>
			</ion-button>
		}
	</div>
</ion-content>
