<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay" *ngIf="isLoggedIn$ | async">
			<ion-content>
				<ion-list id="inbox-list">
					<ion-list-header>
						<ion-text>
							<ion-avatar>{{ userInitials }}</ion-avatar>
							{{ (user$ | async)?.name }}

							<ion-button expand="block" shape="round" fill="outline" color="light" (click)="saveGameService.saveGame()">
								<ion-icon slot="start" name="save-outline"></ion-icon>
								Export My Progress
							</ion-button>

							<ion-button expand="block" shape="round" fill="solid" color="danger" (click)="deleteProfile()">
								<ion-icon slot="start" name="trash-outline"></ion-icon>
								Delete My Profile
							</ion-button>
						</ion-text>
					</ion-list-header>

					<div id="list-content">
						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="root" routerLink="/dashboard" lines="full" detail="false" routerLinkActive="selected">
								<ion-icon slot="start" name="home-outline"></ion-icon>
								<ion-label>Dashboard</ion-label>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/train/misspelled" lines="full" detail="false" routerLinkActive="selected" [disabled]="!progress.misspelled">
								<ion-icon slot="start" name="close-circle-outline"></ion-icon>
								<ion-label>Misspelled</ion-label>
								<ion-badge color="danger" slot="end" *ngIf="progress.misspelled">
									{{ progress.misspelled }}
								</ion-badge>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/train/reviewing" lines="full" detail="false" routerLinkActive="selected" [disabled]="!progress.inReview">
								<ion-icon slot="start" name="search-outline"></ion-icon>
								<ion-label>Reviewing</ion-label>
								<ion-badge color="warning" slot="end" *ngIf="progress.inReview">
									{{ progress.inReview }}
								</ion-badge>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/train/known-common-words" lines="full" detail="false" routerLinkActive="selected" [disabled]="!progress.known.common.value">
								<ion-icon slot="start" name="checkmark-outline"></ion-icon>
								<ion-label>Known Common Words</ion-label>
								<round-progress
									[current]="progress.known.common.value"
									[max]="commonWordsService.words.size"
									[radius]="16"
									[stroke]="7"
									color="#39AE54"
									background="#DDD"
								/>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/train/known-words" lines="full" detail="false" routerLinkActive="selected" [disabled]="!progress.known.all.value">
								<ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
								<ion-label>All Known Words</ion-label>
								<round-progress
									[current]="progress.known.all.value"
									[max]="dictionaryService.words.size"
									[radius]="16"
									[stroke]="7"
									color="#39AE54"
									background="#DDD"
								/>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/train/common-words" lines="full" detail="false" routerLinkActive="selected" [disabled]="!progress.common">
								<ion-icon slot="start" name="text-outline"></ion-icon>
								<ion-label>New Common Words</ion-label>
								<ion-badge color="medium" slot="end" *ngIf="progress.common">
									{{ progress.common }}
								</ion-badge>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/train/all-words" lines="full" detail="false" routerLinkActive="selected" [disabled]="!progress.all">
								<ion-icon slot="start" name="book-outline"></ion-icon>
								<ion-label>New Words</ion-label>
								<ion-badge color="medium" slot="end" *ngIf="progress.all">
									{{ progress.all }}
								</ion-badge>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/ignored-words" lines="full" detail="false" routerLinkActive="selected">
								<ion-icon slot="start" name="eye-off-outline"></ion-icon>
								<ion-label>Ignored Words</ion-label>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/home" lines="full" detail="false" routerLinkActive="selected">
								<ion-icon slot="start" name="information-circle-outline"></ion-icon>
								<ion-label>About</ion-label>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false" (click)="logout()">
							<ion-item lines="full" detail="false">
								<ion-icon slot="start" name="log-out-outline"></ion-icon>
								<ion-label>Logout</ion-label>
							</ion-item>
						</ion-menu-toggle>
					</div>

					<div class="list-footer">
						<ion-note color="dark">{{ appVersion }}</ion-note>
					</div>
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
