<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay" *ngIf="isLoggedIn$ | async">
			<ion-content>
				<ion-list id="inbox-list">
					<ion-list-header>
						<ion-text>
							<ion-avatar>{{ userInitials }}</ion-avatar>
							{{ (user$ | async)?.name }}
						</ion-text>
					</ion-list-header>

					<div id="list-content">
						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="root" routerLink="/dashboard" lines="full" detail="false" routerLinkActive="selected">
								<ion-icon aria-hidden="true" slot="start" name="home-outline"></ion-icon>
								<ion-label>Dashboard</ion-label>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/train/misspelled" lines="full" detail="false" routerLinkActive="selected">
								<ion-icon aria-hidden="true" slot="start" name="close-circle-outline"></ion-icon>
								<ion-label>Misspelled</ion-label>
								<ion-badge color="danger" slot="end">22</ion-badge>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false">
							<ion-item routerDirection="forward" routerLink="/train/reviewing" lines="full" detail="false" routerLinkActive="selected">
								<ion-icon aria-hidden="true" slot="start" name="search-outline"></ion-icon>
								<ion-label>Reviewing</ion-label>
								<ion-badge color="warning" slot="end">13</ion-badge>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
							<ion-item [routerDirection]="p.direction" [routerLink]="[p.url]" lines="full" detail="false" routerLinkActive="selected">
								<ion-icon aria-hidden="true" slot="start" [name]="p.icon + '-outline'"></ion-icon>
								<ion-label>{{ p.title }}</ion-label>
								<round-progress [current]="p.current" [max]="p.max" [radius]="16" [stroke]="7" color="#0054E9"/>
							</ion-item>
						</ion-menu-toggle>

						<ion-menu-toggle auto-hide="false" (click)="logout()">
							<ion-item lines="full" detail="false">
								<ion-icon aria-hidden="true" slot="start" name="log-out-outline"></ion-icon>
								<ion-label>Logout</ion-label>
							</ion-item>
						</ion-menu-toggle>
					</div>
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
