<ion-content>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
	</ion-toolbar>

	<div class="header">
		<ion-text class="title">Welcome to the Spelling Trainer!</ion-text>
		<ion-text class="subtitle">Choose a set of words to start training.</ion-text>
	</div>

	<ion-button
		color="danger"
		expand="block"
		size="large"
		routerDirection="root"
		routerLink="/train/misspelled"
		[disabled]="!(misspelledWordsService.misspelledCounter$ | async)"
	>
		<ion-label>Misspelled Words</ion-label>
		<ion-badge color="light" slot="end">
			{{ misspelledWordsService.misspelledCounter$ | async }}
		</ion-badge>
	</ion-button>

	<ion-button
		color="warning"
		expand="block"
		size="large"
		routerDirection="root"
		routerLink="/train/reviewing"
		[disabled]="!(wordsToReviewService.reviewCounter$ | async) && !nextReview?.counter"
	>
		<ion-label>
			Words to Review<br>
			<ion-note color="dark" *ngIf="nextReview?.counter">
				{{ nextReview?.counter || 0 }}
				more word(s) available in
				{{ nextReview?.days || 0 }} day(s)
			</ion-note>
		</ion-label>
		<ion-badge color="light" slot="end">
			{{ wordsToReviewService.reviewCounter$ | async }}
		</ion-badge>
	</ion-button>

	<ion-button
		color="success"
		expand="block"
		size="large"
		routerDirection="root"
		routerLink="/train/known-words"
		[disabled]="!(knownWordsService.knownCounter$ | async)"
	>
		<ion-label>Known Words</ion-label>
		<ion-badge color="light" slot="end">
			{{ knownWordsService.knownCounter$ | async }}
		</ion-badge>
	</ion-button>

	<ion-button color="light" expand="block" size="large" routerDirection="root" routerLink="/train/common-words">
		<ion-label>Common Words</ion-label>
		<div class="progress">
			<ion-note color="dark">
				{{ commonCounter.percentage }}%
			</ion-note>
			<round-progress
				slot="end"
				[current]="commonCounter.value"
				[max]="commonWordsService.words.size"
				[radius]="32"
				[stroke]="8"
				color="#0054E9"
				background="#ddd"
			/>
		</div>
	</ion-button>

	<ion-button color="light" expand="block" size="large" routerDirection="root" routerLink="/train/all-words">
		<ion-label>All Words</ion-label>
		<div class="progress">
			<ion-note color="dark">
				{{ knownCounter.percentage }}%
			</ion-note>
			<round-progress
				slot="end"
				[current]="knownCounter.value"
				[max]="dictionaryService.words.size"
				[radius]="32"
				[stroke]="8"
				color="#0054E9"
				background="#ddd"
			/>
		</div>
	</ion-button>
</ion-content>
